<!DOCTYPE html>
<html>
  <head>
    <title>CoV-erage</title>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width,initial-scale=1,minimal-ui"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/at-ui-style/css/at.min.css"
    />
  </head>
  <body>
    <style>
      #app {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .card {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .card > * {
        margin: 1em;
      }
    </style>
    <div id="app">

      <form @submit.prevent>
       <transition name="fade" mode="out-in">
        <div class="card" v-if="step === 1" key="hello">
          <h1>
            Hey! 🥳 Da Du neu bist, brauchen wir ein paar persönliche
            Informationen.
          </h1>
          <at-button type="primary" size="small" @click.prevent="nextstep()"
            >Los geht's!<i class="icon icon-chevron-right"></i
          ></at-button>
        </div>

        <div class="card" v-if="step === 2" key="entername">
          <p>
            <at-input
              id="name"
              name="name"
              v-model="user.name"
              placeholder="Vorname"
            />
          </p>
          <back-button @click.native.once="prev()"></back-button>
          <forward-button @click.native.once="nextstep()"></forward-button>
        </div>

        <div class="card" v-if="step === 3" key="enterzip">
          <p>
            <at-input
              id="zip"
              name="zip"
              v-model="user.zip"
              placeholder="Postleitzahl"
            />
          </p>
          <back-button @click.native.once="prev()"></back-button>
          <forward-button @click.native.once="nextstep()"></forward-button>
        </div>

        <div class="card" v-if="step === 4" key="enterbirthdate">
          <p>
            <at-input
              id="birth_year"
              name="birth_year"
              v-model="user.birth_year"
              placeholder="Geburtsjahr"
            />
          </p>
          <back-button @click.native.once="prev()"></back-button>
          <forward-button @click.native.once="nextstep()"></forward-button>
        </div>

        <div class="card" v-if="step === 5" key="entergender">
          <p>
            <legend for="gender">Dein Geschlecht:</legend>
            <at-radio-group v-model="user.gender">
              <at-radio-button
                @click.native.once="nextstep()"
                label="female"
                value="female"
                >Weiblich 🚺</at-radio-button
              >
              <at-radio-button @click.native.once="nextstep()" label="male" value="male"
                >Männlich 🚹</at-radio-button
              >
              <at-radio-button
                @click.native.once="nextstep()"
                label="other"
                value="other"
                >Anderes 🚻</at-radio-button
              >
            </at-radio-group>
          </p>
          <back-button @click.native.once="prev()"></back-button>
        </div>

        <div class="card" v-if="step === 6" key="entercond">
          <legend for="preex_cond">Hast Du Vorerkrankungen?</legend>
          <at-select v-model="user.preex_cond" multiple style="width: 240px">
            <at-option value="asthma">Asthma</at-option>
            <at-option value="cancer">Krebs</at-option>
            <at-option value="depression">Depressionen</at-option>
          </at-select>
          <back-button @click.native.once="prev()"></back-button>
          <forward-button @click.native.once="nextstep()"></forward-button>
        </div>

        <div class="card" v-if="step === 7" key="checkpersdata">
          <h1>
            Bitte prüfe deine Daten:
          </h1>
          <p>Vorname: {{user.name}}</p>
          <p>PLZ: {{user.zip}}</p>
          <p>Geschlecht: {{user.gender}}</p>
          <p>Geburtsjahr: {{user.birth_year}}</p>
          <p>Vorerkrankungen:</p>
          <li v-for="cond in user.preex_cond" :key="user.preex_cond">
              {{ cond }}
          </li>
          <back-button @click.native.once="prev()"></back-button>
          <forward-button @click.native.once="persist()"></forward-button>
        </div>

        <div class="card" v-if="step === 8" key="welcome">
          <h1>
            Hey {{ user.name }}! Schön, dass Du da bist. 🥳
          </h1>
          <at-button type="primary" @click.prevent="nextstep()">
            Jetzt Deine Symptome eintragen!
          </at-button>
        </div>

        <div class="card" v-if="step === 9" key="enterfeeling">
          <p>
            <legend for="name">Wie fühlst Du dich heute?</legend>
            <at-radio-group v-model="entry.feeling">
              <at-radio-button @click.native.once="nextstep()" label="good" value="3"
                >Gut 🤩</at-radio-button
              >
              <at-radio-button @click.native.once="nextstep()" label="ok" value="2"
                >OK 😕</at-radio-button
              >
              <at-radio-button @click.native.once="nextstep()" label="bad" value="1"
                >Schlecht 😣</at-radio-button
              >
            </at-radio-group>
          </p>
          <back-button @click.native.once="prev()"></back-button>
        </div>

        <div class="card" v-if="step === 10" key="entersymptoms" v-bind:key="symptomstep">
          <p>
            <legend for="name">Hast du {{symptoms[symptomstep][0]}}?</legend>
            <at-radio-group v-model="entry.symptoms[symptoms[symptomstep][1]]">
              <at-radio-button
                @click.native.once="nextsymptom()"
                label="no"
                value="1"
                >Nein</at-radio-button
              >
              <at-radio-button
                @click.native.once="nextsymptom()"
                label="light"
                value="2"
                >Leicht</at-radio-button
              >
              <at-radio-button
                @click.native.once="nextsymptom()"
                label="strong"
                value="3"
                >Stark</at-radio-button
              >
            </at-radio-group>
          </p>
          <back-button @click.native.once="prevsymptom()"></back-button>
        </div>

        <div class="card" v-if="step === 11" key="checksymptoms">
          <h1>
            Bitte prüfe deine Daten:
          </h1>
          <p>Gesamtzustand: {{entry.feeling}}</p>
          <p>Symptome:</p>
          <ul>
              <li v-for="(symptom, value) in entry.symptoms" :key="entry.symptoms">
                  {{ symptom }}: {{ value }}
              </li>
          </ul>
          <back-button @click.native.once="prev()"></back-button>
          <submit-button @click.native.once="submit()"></submit-button>
        </div>

        <div class="card" v-if="step === 12" key="loading">
          <at-button loading>Loading</at-button>
        </div>

        <div class="card" v-if="step === 13" key="final">
          <h1 v-if="submitfailed">
              Leider konnten Deine Daten nicht übermittelt werden: {{ response }}
          </h1>
          <h1 v-if="!submitfailed">
              Danke {{ user.name }}! Deine Daten wurden übermittelt. 🎉
          </h1>
        </div>
        </transition>
        </form>
    </br>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="//cdn.jsdelivr.net/npm/at-ui/dist/at.min.js"></script>
    <script src="https://unpkg.com/uuid"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
